apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: calculator-argo-application
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/DhineshDine/calculator-docker-demo.git
    targetRevision: HEAD
    path: k8s-manifests
  destination:
    server: https://kubernetes.default.svc
    namespace: cal-app

  syncPolicy:
    syncOptions:
    - CreateNamespace=true

    automated:
      selfHeal: true
      prune: true
    
    
